<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <div style="font-family: Lato; font-size: 22px; color: #5E9FDF; text-align: center; padding: 0 30px; margin-top: 50px">
        <img src='/images/logo-blue@3x.png' width='120'/>
        <h1 style="margin: 50px 0 20px">Notre site n'est pas compatible avec votre navigateur, veuillez en utiliser un plus récent.</h1>
        <h1>Our website is not compatible with your browser, please use a more recent one.</h1>
    </div>
</body>
</html>
