<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <div style="display: flex; align-items: center; justify-content: center; height: 100%; flex-direction: column;font-family: Lato; font-size: 22px; color: #5E9FDF; text-align: center; padding: 0 30px">
        <img src='/images/logo-blue@3x.png' width='120'/>
        <h1 style="margin: 50px 0 20px">Notre site est actuellement en cours de maintenance, merci de revenir plus tard</h1>
        <h1>Our website is currently under maintenance, please come back later</h1>
    </div>
</body>
</html>
